* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 15px;
  font-size: 12px;
  margin: 0%;
  background: url(../media/estrellas.jpg);
  background-size: 100%;
  color: white;
}

@media (max-width: 767px) {
  p {
    line-height: 14px;
    font-size: 15px;
  }
}

header {
  background-color: #212121;
}

.galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.cofondo {
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
}

.cofondo-2 {
  background: #ff0000 linear-gradient(#ff0000, #d02c0c) repeat-x;
}

img {
  max-width: 50%;
}

img,
svg {
  vertical-align: middle;
}

.contenido {
  width: 350px;
  margin: 25px;
  height: 500px;
}

.contenido img {
  width: 300px;
  height: 250px;
}

.contenido video {
  float: right;
  width: 170px;
  height: 250px;
}
.img-text-flex {
  display: flex;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

header {
  background-color: #61b644;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.tabla {
  color: white;
}
.text {
  color: white;
}
.text-h1 {
  color: white;
}

.container {
  width: 100%;

  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 100%;
  font-weight: lighter;
}

nav {
  display: block;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}
.display-2 {
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.display-2--intro {
  font-weight: 700;
  display: inline-block;
}

.display-2--description {
  margin-top: 1.2rem;
  display: inline-block;
}

.mapa {
  color: white;
}
.download_flex {
  text-align: center;
}
.download_1 {
  background-color: black;
  color: white;
  font-weight: lighter;
  margin-bottom: 0px;
}
.item_flex {
  color: white;
  font-size: 50px;
  padding: 30px;
}
h2 {
  list-style: none;
  color: #484848;
  font-size: 80px;
  letter-spacing: 5px;
  animation: Descargas 1.4s linear infinite;
}
@keyframes Descargas {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
h2 :nth-child(1) {
  animation-delay: 0s;
}
h2:nth-child(2) {
  animation-delay: 0.1s;
}
h2:nth-child(3) {
  animation-delay: 0.2s;
}
h2:nth-child(4) {
  animation-delay: 0.3s;
}
h2:nth-child(5) {
  animation-delay: 0.4s;
}
h2 :nth-child(6) {
  animation-delay: 0.5s;
}
h2 :nth-child(7) {
  animation-delay: 0.6s;
}
h2 :nth-child(8) {
  animation-delay: 0.7s;
}
.footer {
  background-image: linear-gradient(to left, gray, black, black, black);
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0em 0;
  color: white;
  width: 100%;
  margin: auto;
}

.footer-sm {
  background-image: linear-gradient(to left, black, black, black, gray);
  color: white;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.footer-sm__icons {
  text-align: center;
}

.footer-bottom {
  padding: 0.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 700;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #72c777;
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%,300px), 1fr));
  grid-auto-rows: auto;*/
  grid-gap: 20px;
  padding: 10px;
}
.gallery img {
  width: 100%;
  border-radius: 15px;
}
.gal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
  width: 100%;
  padding: 10px;
