* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 15px;
  font-size: 12px;
  margin: 0%;
  background: url(../media/estrellas.jpg);
  background-size: 100%;
}
.ayuda {
  color: white;
}

.cofondo {
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
}

.cofondo-2 {
  background: #ff0000 linear-gradient(#ff0000, #d02c0c) repeat-x;
}

img {
  max-width: 50%;
}

img,
svg {
  vertical-align: middle;
}

.contenido {
  width: 350px;
  margin: 25px;
  height: 500px;
}

.contenido img {
  width: 300px;
  height: 250px;
}

.contenido video {
  float: right;
  width: 170px;
  height: 250px;
}
.img-text-flex {
  display: flex;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

header {
  background-color: #61b644;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.tabla {
  color: white;
}
.text {
  color: white;
}
.text-h1 {
  color: white;
}

.container {
  width: 100%;

  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 100%;
}

nav {
  display: block;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}
.display-2 {
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.display-2--intro {
  font-weight: 700;
  display: inline-block;
}

.display-2--description {
  margin-top: 1.2rem;
  display: inline-block;
}

.mapa {
  color: white;
}
.download_flex {
  text-align: center;
}
.download_1 {
  background-color: #61b644;
  color: white;
  font-weight: lighter;
  margin-bottom: 40px;
}
.item_flex {
  color: white;
  font-size: 50px;
  padding: 30px;
}

.footer {
  background-color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0em 0;
  color: white;
  width: 100%;
  margin: auto;
}

.footer-sm {
  background-color: #212121;
  color: white;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.footer-sm__icons {
  text-align: center;
  padding: 0.5rem 0;
}

.footer-bottom {
  padding: 0.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 700;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #72c777;
  text-decoration: underline;
}

.galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
  width: 100%;
  padding: 10px;
}
