$primary-color: linear-gradient(to left, gray, black, black, black);

$secondary-color: linear-gradient(to left, black, black, black, gray);

$tertiary-color: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;

$quaternary-color: #ff0000 linear-gradient(#ff0000, #d02c0c) repeat-x;

$cool-color: gray;

$cool-color-1: white;
